<h1>New Entry for <%= @place&.name || "Unknown Place" %></h1>

<form action="<%= place_entries_path(@place) %>" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="entry[title]" id="title">
  </p>

  <p>
    <label for="description">Description</label>
    <textarea name="entry[description]" id="description"></textarea>
  </p>

  <p>
    <label for="occurred_on">Occurred On</label>
    <input type="date" name="entry[occurred_on]" id="occurred_on">
  </p>

  <input type="hidden" name="entry[place_id]" id="place_id" value="<%= @place.id %>">
  
  <button>Save Entry</button>
  <a href="<%= place_path(@place) %>">Back to Place</a>
</form>
