<h1>Places I've Been</h1>


<ul>
  <% for places in @places %>
    <li>
      <a href="/places/<%= places["id"] %>">
        <%= places["name"] %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/places/new">New Place</a>