<h1>Places I've Visited</h1>

<ul>
  <% if @places.present? %>
    <% for place in @places %>
      <li>
        <a href="/places/<%= place.id %>"><%= place.name %></a>
      </li>
    <% end %>
  <% else %>
    <p>No places available.</p>
  <% end %>
</ul>

<a href="/places/new">Add New Place</a>
